.categoryBtn{
    padding: 10px 15px;
    border: 1px solid rgba(146, 102, 20, 0.371);
    background-color: rgba(201, 140, 28, 0.165);
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 17px;
    font-weight: 550;
    transition: 0.3s;
}


.categoryBtn:hover{
    border: 1px solid rgb(255, 166, 0);
    background-color: rgba(173, 120, 21, 0.441);
    transform: translateY(-5px);
}
